# Main Caddyfile

# Define reusable reverse proxy snippet
(reverse_proxy_common) {
    header_up Host {http.request.host}
    header_up X-Forwarded-Proto https
    header_up X-Real-IP {remote_host}
    transport http {
        tls_insecure_skip_verify
    }
}

# Import all enabled site configurations
import sites-enabled/*.conf