---
- name: "Remove SSH public key from deploy user"
  hosts: all
  become: true
  become_method: sudo

  vars:
    key_file: ""  # Path to public key file to remove (e.g., keys/q.pub)

  tasks:
    - name: Validate key_file variable
      assert:
        that:
          - key_file is defined
          - key_file | length > 0
        fail_msg: "Please specify key_file variable. Example: -e 'key_file=keys/q.pub'"

    - name: Read public key from file
      set_fact:
        public_key_content: "{{ lookup('file', playbook_dir + '/../' + key_file) }}"
      delegate_to: localhost
      become: false

    - name: Remove SSH public key from authorized_keys
      authorized_key:
        user: deploy
        key: "{{ public_key_content }}"
        state: absent

    - name: Display confirmation message
      debug:
        msg: "SSH key from '{{ key_file }}' has been removed from deploy user on {{ inventory_hostname }}"
